<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=0.6,maximum-scale=1,user-scalable=no"/>
        <title>steve web</title>
        <link rel="stylesheet" href="../static/project.css">
    </head>
    <body>
        <div class="top">
            <a href="index.html"><img src="steve.png" alt="" style="width: 250px;"></a>
        </div>
        <h1>هاد الموقع لحالو مشروع حاج </h1><br>
        <a href="https://github.com/moustafashekh/steve/tree/main" style="position: absolute; font-size: 2em;margin-top: 80px ;margin-right:40px; color: #fff; ">Source code</a>
     </body>
</html>
